/* #FF70A6 PINK
#FF9779 ORANGE
#FFD670 YELLOW
#E9FF70 LIME YELLOW
#F2F2F2 GREY/WHITE
#403D39 DARK DARK GREY */
/* FONT: font-family: 'Open Sans', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#grad {
  background-image: linear-gradient(to #FF70A6, #FF9779, #FFD670, #E9FF70 )
}

.app-component{
  background-image: -webkit-linear-gradient(351deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  background-image: -o-linear-gradient(351deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  position: absolute;  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-component {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  color: #fff;
  background-image: linear-gradient(0deg,#ff7abe,#ff9770);
  box-shadow: 10px 0 20px 0 rgba(0,0,0,.1), 5px 0 5px rgba(0,0,0,.2);
}

.nav-profile-pic {
  width: 70px;
  height: 70px;
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 20px #333;
}

.nav-img {
  display: block;
  width: 40px;
  height: 40px;
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.auth-component {
  flex-direction: column;
  border-radius: 8px;
  justify-content: space-around;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  color: white;
  width: 35vw;
  height: 55vh;
  padding: 20px;
  vertical-align: baseline;
  align-items: center;
  background-image: -webkit-linear-gradient(353deg,#ff7a6e,#ffd670);
  background-image: -o-linear-gradient(353deg,#ff7a6e,#ffd670);
  background-image: linear-gradient(97deg,#ff7a6e,#ffd670);
}

.auth-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 700;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  width: 114px;
}

.auth-username-input-box{
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  height: 25px;

}

.auth-password-input-box{
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  height: 25px;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: button;
  border-radius: 1px;
  color: white;
}

.login-button {
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  color: white;
  font-family: Arial;
  font-size: 13px;
  padding: 10px 20px;
  border: none;
    
}

.register-button {
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  color: white;
  font-family: Arial;
  font-size: 13px;
  padding: 10px 20px;
  border: none;
    
}

.form-component {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 20px;
}

.form-new-post {
  font-size: 40px;
  font-weight: 700;
  color: #ff9770;
  margin: 0 0 10px;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 694px;
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}

.dashboard-header-left {
  display: flex;
}

.dashboard-header-right{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.dashboard-search-box {
  height: 25px;
  width: 90%;
  padding: 0;
}

.magnifying-glass-img {
  height: 25px;
  width: 25px;
  background-color: #ff9770;
  border-radius: 2px;
  padding: 2px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAYAAADgKtSgAAAAAXNSR0IArs4c6QAAAeJJREFUSA2tlM0rBGEcx3dWEREp4oBVrvsXLJEoTsR/QDk6ydt1E2ccuIniKGeEi4MLbY6SAzaRUt5C1uer9pkZM7PM2m99muf5vT0zz/yeJxLxUSaTKYch2IJzeIF7SMECdPikeUzWTwuJI9iSUA0HcAhpKIVm6IEWkG/UsqwUz9yiaAmswScsQ31QBr4uOIEnGAyKM3aCVFjB/caYY0CcXmYVPqA7MBTnCOiN/1Q4W4h4C/Rf9D9qs3bzxKifdwNLxhhiQF4V3MGiJw2juuIN6jzOPxrInYRnKHOlYNBnbbuMISfkx0Dqc6ZGmcRB7Za3aMcLkq9BtYxUXC2nPv6vVMPVvir+Ajog/5VqvDqLqPgVxJzGsGP2uoicBlAtIxXfh15jyW+QIK0CdCXYYtV2kDpta7gRuRtwBpYnE+MeHEOxx/mLgZxW0Oke9g3FEYdHWAHv6r5ZkQixTZCGXdAW+wvnALzDJlT6R9lWYhKgwtKM7QkYEaSrVJfQLYxDozOUeRTaYB20FTuQBGnKGes7JqgG5kHXr3QJR3AKDyDp5+lO+t4KnhMguRYI3F8CdSh0T+tI6+TpgKiP1W7HHPkMTyPiJ5jMwTS+WeMo1EALgOT6gkLVVwdlF9CXFF4sMAapL60vtT4ftHlFAAAAAElFTkSuQmCC")
}

.dashboard-reset-button{
  height: 25px;
  padding: 5px 10px;
  border-radius: 1px;
  background-image: -webkit-radial-gradient(50% -46%,circle,#737373,#403d39);
  background-image: -o-radial-gradient(50% -46%,circle,#737373,#403d39);
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  color: #fff;
  border: none;
  appearance: button;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;

}

.dashboard-my-posts-title {
  width: 16vw;
  font: 16px;
  font-family: 'Open Sans', sans-serif;
  display: block;
}

.dashboard-checkbox {
  height: 15px;
  width: 15px;
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.form-post-button{
  border-radius: 1px;
  background-image: -webkit-radial-gradient(50% -46%,circle,#737373,#403d39);
  background-image: -o-radial-gradient(50% -46%,circle,#737373,#403d39);
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  padding: 10px 20px;
  color: #fff;
  border: none;
  position: relative;
  left: 90%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}

.dashboard-mapped-posts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  margin: 10px 0;
}

.dashboard-profile-pic {
  display: flex;
  justify-content: flex;
  align-items: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  margin: 0 5px;
  cursor: pointer;
}

.dashboard-component {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.post-component {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  width: 70%;
  min-height: 400px;
  margin: 0 auto;
}

.one-post {
  display: flex;
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  text-decoration: none;
}

