/* #FF70A6 PINK
#FF9779 ORANGE
#FFD670 YELLOW
#E9FF70 LIME YELLOW
#F2F2F2 GREY/WHITE
#403D39 DARK DARK GREY */
/* FONT: font-family: 'Open Sans', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

#grad {
  background-image: linear-gradient(to #FF70A6, #FF9779, #FFD670, #E9FF70 )
}

.app-component{
  background-image: -webkit-linear-gradient(351deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  background-image: -o-linear-gradient(351deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  background-image: linear-gradient(99deg,#ff70a6,#ff9770 40%,#ffd670 73%,#e9ff70);
  position: absolute;  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-component {
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  color: #fff;
}

.nav-profile-pic {
  width: 70px;
  height: 70px;
  background-color: #fff;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
}
.auth-component {
  flex-direction: column;
  border-radius: 8px;
  justify-content: space-around;
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.25), 0 10px 10px 0 rgba(0,0,0,.26);
  color: white;
  width: 35vw;
  height: 55vh;
  padding: 20px;
  vertical-align: baseline;
  align-items: center;
  background-image: -webkit-linear-gradient(353deg,#ff7a6e,#ffd670);
  background-image: -o-linear-gradient(353deg,#ff7a6e,#ffd670);
  background-image: linear-gradient(97deg,#ff7a6e,#ffd670);
}

.auth-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 700;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 114px;
  width: 114px;
}

.auth-username-input-box{
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  height: 25px;

}

.auth-password-input-box{
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  height: 25px;
}

.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: button;
  border-radius: 1px;
  color: white;
}

.login-button {
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  color: white;
  font-family: Arial;
  font-size: 13px;
  padding: 10px 20px;
  border: none;
    
}

.register-button {
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  color: white;
  font-family: Arial;
  font-size: 13px;
  padding: 10px 20px;
  border: none;
    
}

.form-component {
  background-color: white;
  width: 70%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 20px;
}

.form-new-post {
  font-size: 40px;
  font-weight: 700;
  color: #ff9770;
  margin: 0 0 10px;
}

input {
  width: 100%;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 694px;
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
}

.dashboard-header-left {
  display: flex;
}

.dashboard-header-right{
  display: flex;

}

.dashboard-my-posts-title {
  
  width: 16vw;
  font: 16px;
  font-family: 'Open Sans', sans-serif;
}

.dashboard-checkbox {
  height: 15px;
  width: 15px;
  background-color: initial;
  cursor: default;
  appearance: checkbox;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.form-post-button{
  border-radius: 1px;
  background-image: -webkit-radial-gradient(50% -46%,circle,#737373,#403d39);
  background-image: -o-radial-gradient(50% -46%,circle,#737373,#403d39);
  background-image: radial-gradient(circle at 50% -46%,#737373,#403d39);
  padding: 10px 20px;
  color: #fff;
  border: none;
  position: relative;
  left: 90%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
}

.dashboard-mapped-posts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-profile-pic {
  display: flex;
  justify-content: flex;
  align-items: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  margin: 0 5px;
  cursor: pointer;
}

.dashboard-component {
  width: 70%;
  margin: 0 auto;
  background-color: white;
}

.post-component {
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
}

.one-post {
  display: flex;
  border-radius: 2px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  text-decoration: none;
}

